input{
	font-size: 14pt;
}
input[type=tel] {
	width: 45px;
 }
input[type=email] {
	width: 175px;
 }
select{
 	font-size: 14pt;
 }
button{
	font-size: 14pt;
}
form{
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}
table {
	border:1px solid black;
	border-radius: 10px;
	outline: 1px thin black;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
    }
td{
	font-size: 16pt;
	padding: 0px 25px 5px 5px;
}
.bullet{
	background-color: transparent;
	list-style-type: square;
	position: relative;
	text-align: left;
	height: auto;
}
.tnr{
	display: list-item;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    font-weight: lighter;
}
h3{
	font-size: 17pt;
	padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
}
.disclaim{
	font-size: 8pt;
}
