/*border properties don't seem to work in a style tag in html5*/
.fieldbox{
	border: 6px double black;
	width: 98%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
/*positioning the picture*/
.prepac{
	float: left;
	height: 100px;
	width: 100px;
	display: inline;
}
/*positioining the paragraph*/
p{
	display: inline;
	text-align: left;
}
/*styling table items in modal*/
td{
	text-transform: capitalize;
}
/*will not display image, cannot manage to center it, only shows contents table*/
.modal-content {
    margin: auto;
    display: none;
    width: 50%;
}